
        /* CSS styles */
        label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        }
        .results {
          margin-top: 20px;
          margin-bottom: 40px;
          margin-left: 200px;
          margin-right: 200px;
        }
        .object-item {
                display: flex;
                padding: 10px;
                margin-bottom: 10px;
                border: 1px solid #ddd;
                border-radius: 5px;
                background-color: #f9f9f9;
        }

        .object-number {
                font-weight: bold;
                margin-right: 15px;
                color: #007bff;
                min-width: 30px;
        }

        .object-details {
                flex: 1;
        }

        