.container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        max-width: 600px;
        margin: 50px auto;
        background-color: #5b62df;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        body {
        flex-wrap: wrap;
        font-family: Arial, sans-serif;
        color: rgb(226, 17, 83);
        text-align: center;
        margin: 0;
        padding: 0;
        background-image: url("/images/andromeda.jpg");
        background-size: auto auto;
        aspect-ratio: auto;
        background-position: center;
        background-repeat: no-repeat;
        }
        
.card {
  display: flex ; 
  background-size: cover;

  background-position: center;
  background-repeat: no-repeat;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(155, 140, 224);
  font-family: "Gloria Hallelujah", cursive;
}

