<%- include("partials/header.ejs") %>;
<h1>Please submit a question. </h1>


<form>
  <input name="name" type="text" class="feedback-input" placeholder="Name:" />
  <input name="email" type="text" class="feedback-input" placeholder="Email:" />
  <input name="subject" type="Telly" class="feedback-input" placeholder="Telefono:" />
  <textarea name="text" class="feedback-input" placeholder="Comment:"></textarea>
  <input type="submit" value="SUBMIT" />
</form>
<p style="margin-bottom: 6em;">
  I look forward to hearing from you.  Please reach out with any questions or comments you may have. 
  Your all great cats.
</p>
<%- include("partials/footer.ejs") %>;  
