<%- include("partials/header.ejs") %>;
<h1>About Me</h1>
<img class="profile" src="images/cat.jpeg" alt="cat profile">


<p style="margin-bottom: 6em;">
  I was born a poor black young feller,  as I grew up a lot of people helped me and I got a great
edumacation and helped a lot of people.  Life is good ogr81. For that I am very thankful.  I
  love to code and help people.  I have a great family and friends.  I love my life and I love to
  help people.  Oh and I do so love go goof off.  If you want to know more about me please <a href="/contact">contact me

></a>

</p>
  <%- include("partials/footer.ejs") %>;